In [56]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt
import sklearn
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np

In [9]:
df = pd.read_csv('sandbox-singlepage/data/housing_prepped.csv',
                 dtype={"GEOID": str,"TRACT_NUM": str})

In [43]:
Y = df[['GEOID', 'TOT_POP_2010', 'BORN_FOREIGN_75KPLUS_2010']]
Y = Y[~Y['BORN_FOREIGN_75KPLUS_2010'].isnull()]

In [44]:
X = Y[['TOT_POP_2010', 'BORN_FOREIGN_75KPLUS_2010']]

In [67]:
K = 2
kmeans = KMeans(n_clusters=K, random_state=0).fit(X)

In [68]:
kmeans.labels_

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1], dtype=int32)

In [70]:
kmeans.cluster_centers_

array([[5877.7020649 ,  124.99705015],
       [3554.62330623,   63.02439024]])

In [71]:
Y['labels'] = kmeans.labels_

In [72]:
c0 = kmeans.cluster_centers_[0]
c1 = kmeans.cluster_centers_[1]
print(c0, c1)
x0 = np.array([5841.0, 29.0])
print(x0)
np.sqrt(np.sum((x0 - c0)**2)), np.sqrt(np.sum((x0 - c1)**2))

[5877.7020649   124.99705015] [3554.62330623   63.02439024]
[5841.   29.]

(102.77390332524044, 2286.6298443193878)

In [76]:
c = pd.DataFrame(kmeans.transform(X), columns=['center_{}'.format(i) for i in range(K)])
for i in range(K):
    Y['center_{}'.format(i)] = c['center_{}'.format(i)]
Y

,GEOID,TOT_POP_2010,BORN_FOREIGN_75KPLUS_2010,labels,center_0,center_1
0,53061041202,5841.0,29.0,0,102.773903,2286.629844
1,53061041301,5224.0,108.0,0,653.923000,1669.982440
2,53061041303,4846.0,59.0,0,1033.810796,1291.382964
3,53061041304,3035.0,38.0,1,2844.032967,520.225528
4,53061041400,5632.0,13.0,0,270.023784,2077.978914
...,...,...,...,...,...,...
704,53033032702,6141.0,63.0,0,3992.416722,1668.530843
705,53033032703,1887.0,8.0,1,114.667650,2377.696963
706,53033032704,5932.0,24.0,0,3517.549763,1193.757466
707,53033032800,2362.0,11.0,1,5879.031028,3555.181982
708,53033990100,0.0,0.0,1,NaN,NaN

In [80]:
for i in range(K):
    Y.loc[Y['labels'] == i, 'd'] = Y['center_{}'.format(i)]
Y

,GEOID,TOT_POP_2010,BORN_FOREIGN_75KPLUS_2010,labels,center_0,center_1,d
0,53061041202,5841.0,29.0,0,102.773903,2286.629844,102.773903
1,53061041301,5224.0,108.0,0,653.923000,1669.982440,653.923000
2,53061041303,4846.0,59.0,0,1033.810796,1291.382964,1033.810796
3,53061041304,3035.0,38.0,1,2844.032967,520.225528,520.225528
4,53061041400,5632.0,13.0,0,270.023784,2077.978914,270.023784
...,...,...,...,...,...,...,...
704,53033032702,6141.0,63.0,0,3992.416722,1668.530843,3992.416722
705,53033032703,1887.0,8.0,1,114.667650,2377.696963,2377.696963
706,53033032704,5932.0,24.0,0,3517.549763,1193.757466,3517.549763
707,53033032800,2362.0,11.0,1,5879.031028,3555.181982,3555.181982
708,53033990100,0.0,0.0,1,NaN,NaN,NaN